#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "lunatic";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   25   38       0     0     0>
            , <&key_physical_attrs 100 100  125   38       0     0     0>
            , <&key_physical_attrs 100 100  225   12       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425   12       0     0     0>
            , <&key_physical_attrs 100 100  525   25       0     0     0>
            , <&key_physical_attrs 100 100 1050   25       0     0     0>
            , <&key_physical_attrs 100 100 1150   12       0     0     0>
            , <&key_physical_attrs 100 100 1250    0       0     0     0>
            , <&key_physical_attrs 100 100 1350   12       0     0     0>
            , <&key_physical_attrs 100 100 1450   38       0     0     0>
            , <&key_physical_attrs 100 100 1550   38       0     0     0>
            , <&key_physical_attrs 100 100   25  138       0     0     0>
            , <&key_physical_attrs 100 100  125  138       0     0     0>
            , <&key_physical_attrs 100 100  225  112       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  112       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100 1050  125       0     0     0>
            , <&key_physical_attrs 100 100 1150  112       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  112       0     0     0>
            , <&key_physical_attrs 100 100 1450  138       0     0     0>
            , <&key_physical_attrs 100 100 1550  138       0     0     0>
            , <&key_physical_attrs 100 100   25  238       0     0     0>
            , <&key_physical_attrs 100 100  125  238       0     0     0>
            , <&key_physical_attrs 100 100  225  212       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  212       0     0     0>
            , <&key_physical_attrs 100 100  525  225       0     0     0>
            , <&key_physical_attrs 100 100 1050  225       0     0     0>
            , <&key_physical_attrs 100 100 1150  212       0     0     0>
            , <&key_physical_attrs 100 100 1250  200       0     0     0>
            , <&key_physical_attrs 100 100 1350  212       0     0     0>
            , <&key_physical_attrs 100 100 1450  238       0     0     0>
            , <&key_physical_attrs 100 100 1550  238       0     0     0>
            , <&key_physical_attrs 100 100   25  338       0     0     0>
            , <&key_physical_attrs 100 100  125  338       0     0     0>
            , <&key_physical_attrs 100 100  225  312       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  312       0     0     0>
            , <&key_physical_attrs 100 100  525  325       0     0     0>
            , <&key_physical_attrs 100 100 1050  325       0     0     0>
            , <&key_physical_attrs 100 100 1150  312       0     0     0>
            , <&key_physical_attrs 100 100 1250  300       0     0     0>
            , <&key_physical_attrs 100 100 1350  312       0     0     0>
            , <&key_physical_attrs 100 100 1450  338       0     0     0>
            , <&key_physical_attrs 100 100 1550  338       0     0     0>
            , <&key_physical_attrs 100 100  700  750    3300  1150   650>
            , <&key_physical_attrs 100 100  225  412       0     0     0>
            , <&key_physical_attrs 100 100  325  400       0     0     0>
            , <&key_physical_attrs 100 100  450  438       0     0     0>
            , <&key_physical_attrs 100 100  700  388    1600   450     0>
            , <&key_physical_attrs 100 100  875  388 (-1600)  1225     0>
            , <&key_physical_attrs 100 100 1125  438       0     0     0>
            , <&key_physical_attrs 100 100 1250  400       0     0     0>
            , <&key_physical_attrs 100 100 1350  412       0     0     0>
            , <&key_physical_attrs 100 100  875  750 (-3300)   525   650>
            , <&key_physical_attrs 100 100    0  600       0     0     0>
            , <&key_physical_attrs 100 100  100  500       0     0     0>
            , <&key_physical_attrs 100 100  100  600       0     0     0>
            , <&key_physical_attrs 100 100  100  700       0     0     0>
            , <&key_physical_attrs 100 100  200  600       0     0     0>
            , <&key_physical_attrs 100 100 1375  600       0     0     0>
            , <&key_physical_attrs 100 100 1475  700       0     0     0>
            , <&key_physical_attrs 100 100 1475  600       0     0     0>
            , <&key_physical_attrs 100 100 1475  500       0     0     0>
            , <&key_physical_attrs 100 100 1575  600       0     0     0>
            ;
    };
};