#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "lunatic";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   25   63       0     0     0>
            , <&key_physical_attrs 100 100  125   63       0     0     0>
            , <&key_physical_attrs 100 100  225   38       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425   12       0     0     0>
            , <&key_physical_attrs 100 100  525   25       0     0     0>
            , <&key_physical_attrs 100 100  925   25       0     0     0>
            , <&key_physical_attrs 100 100 1025   12       0     0     0>
            , <&key_physical_attrs 100 100 1125    0       0     0     0>
            , <&key_physical_attrs 100 100 1225   38       0     0     0>
            , <&key_physical_attrs 100 100 1325   63       0     0     0>
            , <&key_physical_attrs 100 100 1425   63       0     0     0>
            , <&key_physical_attrs 100 100   25  163       0     0     0>
            , <&key_physical_attrs 100 100  125  163       0     0     0>
            , <&key_physical_attrs 100 100  225  138       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  112       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100  925  125       0     0     0>
            , <&key_physical_attrs 100 100 1025  112       0     0     0>
            , <&key_physical_attrs 100 100 1125  100       0     0     0>
            , <&key_physical_attrs 100 100 1225  138       0     0     0>
            , <&key_physical_attrs 100 100 1325  163       0     0     0>
            , <&key_physical_attrs 100 100 1425  163       0     0     0>
            , <&key_physical_attrs 100 100   25  263       0     0     0>
            , <&key_physical_attrs 100 100  125  263       0     0     0>
            , <&key_physical_attrs 100 100  225  238       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  212       0     0     0>
            , <&key_physical_attrs 100 100  525  225       0     0     0>
            , <&key_physical_attrs 100 100  925  225       0     0     0>
            , <&key_physical_attrs 100 100 1025  212       0     0     0>
            , <&key_physical_attrs 100 100 1125  200       0     0     0>
            , <&key_physical_attrs 100 100 1225  238       0     0     0>
            , <&key_physical_attrs 100 100 1325  263       0     0     0>
            , <&key_physical_attrs 100 100 1425  263       0     0     0>
            , <&key_physical_attrs 100 100   25  363       0     0     0>
            , <&key_physical_attrs 100 100  125  363       0     0     0>
            , <&key_physical_attrs 100 100  225  338       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  312       0     0     0>
            , <&key_physical_attrs 100 100  525  325       0     0     0>
            , <&key_physical_attrs 100 100  925  325       0     0     0>
            , <&key_physical_attrs 100 100 1025  312       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  338       0     0     0>
            , <&key_physical_attrs 100 100 1325  363       0     0     0>
            , <&key_physical_attrs 100 100 1425  363       0     0     0>
            , <&key_physical_attrs 100 100  715  198    2000 (-100)     0>
            , <&key_physical_attrs 100 100  286  443   35495     0     0>
            , <&key_physical_attrs 100 100  415  438       0     0     0>
            , <&key_physical_attrs 100 100  550  333    1000 (-100)     0>
            , <&key_physical_attrs 100 100  911  463 (-1000)     0     0>
            , <&key_physical_attrs 100 100 1035  438       0     0     0>
            , <&key_physical_attrs 100 100 1164  434 (-35495)     0     0>
            , <&key_physical_attrs 100 100  790  511 (-2000)     0     0>
            , <&key_physical_attrs 100 100    0  575       0     0     0>
            , <&key_physical_attrs 100 100  100  675       0     0     0>
            , <&key_physical_attrs 100 100  100  575       0     0     0>
            , <&key_physical_attrs 100 100  100  475       0     0     0>
            , <&key_physical_attrs 100 100  200  575       0     0     0>
            , <&key_physical_attrs 100 100 1250  575       0     0     0>
            , <&key_physical_attrs 100 100 1350  475       0     0     0>
            , <&key_physical_attrs 100 100 1350  575       0     0     0>
            , <&key_physical_attrs 100 100 1350  675       0     0     0>
            , <&key_physical_attrs 100 100 1450  575       0     0     0>
            ;    };
};