#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "lunatic";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   63       0     0     0>
            , <&key_physical_attrs 100 100  100   63       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100  960   25       0     0     0>
            , <&key_physical_attrs 100 100 1060   12       0     0     0>
            , <&key_physical_attrs 100 100 1160    0       0     0     0>
            , <&key_physical_attrs 100 100 1260   12       0     0     0>
            , <&key_physical_attrs 100 100 1360   63       0     0     0>
            , <&key_physical_attrs 100 100 1460   63       0     0     0>
            , <&key_physical_attrs 100 100    0  163       0     0     0>
            , <&key_physical_attrs 100 100  100  163       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  960  125       0     0     0>
            , <&key_physical_attrs 100 100 1060  112       0     0     0>
            , <&key_physical_attrs 100 100 1160  100       0     0     0>
            , <&key_physical_attrs 100 100 1260  112       0     0     0>
            , <&key_physical_attrs 100 100 1360  163       0     0     0>
            , <&key_physical_attrs 100 100 1460  163       0     0     0>
            , <&key_physical_attrs 100 100    0  263       0     0     0>
            , <&key_physical_attrs 100 100  100  263       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  960  225       0     0     0>
            , <&key_physical_attrs 100 100 1060  212       0     0     0>
            , <&key_physical_attrs 100 100 1160  200       0     0     0>
            , <&key_physical_attrs 100 100 1260  212       0     0     0>
            , <&key_physical_attrs 100 100 1360  263       0     0     0>
            , <&key_physical_attrs 100 100 1460  263       0     0     0>
            , <&key_physical_attrs 100 100    0  363       0     0     0>
            , <&key_physical_attrs 100 100  100  363       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100  960  325       0     0     0>
            , <&key_physical_attrs 100 100 1060  312       0     0     0>
            , <&key_physical_attrs 100 100 1160  300       0     0     0>
            , <&key_physical_attrs 100 100 1260  312       0     0     0>
            , <&key_physical_attrs 100 100 1360  363       0     0     0>
            , <&key_physical_attrs 100 100 1460  363       0     0     0>
            , <&key_physical_attrs 100 100  230  438       0     0     0>
            , <&key_physical_attrs 100 125  375  380     500 (-50)     0>
            , <&key_physical_attrs 100 125  555  278    1500 (-50)     0>
            , <&key_physical_attrs 100 125  710  218    2500   100    50>
            , <&key_physical_attrs 100 100  605  350       0     0     0>
            , <&key_physical_attrs 100 100  855  350       0     0     0>
            , <&key_physical_attrs 100 125  750  218 (-2500)  1460    50>
            , <&key_physical_attrs 100 125  905  278 (-1500)  1610     0>
            , <&key_physical_attrs 100 125 1085  380  (-500)  1610     0>
            , <&key_physical_attrs 100 100 1230  438       0     0     0>
            , <&key_physical_attrs 100 100   20  578       0     0     0>
            , <&key_physical_attrs 100 100  120  478       0     0     0>
            , <&key_physical_attrs 100 100  120  578       0     0     0>
            , <&key_physical_attrs 100 100  120  678       0     0     0>
            , <&key_physical_attrs 100 100  220  578       0     0     0>
            , <&key_physical_attrs 100 100 1240  578       0     0     0>
            , <&key_physical_attrs 100 100 1340  678       0     0     0>
            , <&key_physical_attrs 100 100 1340  578       0     0     0>
            , <&key_physical_attrs 100 100 1340  478       0     0     0>
            , <&key_physical_attrs 100 100 1440  578       0     0     0>
            ;
    };
};